TASK A: FITBIT_Dataset

Q1. Read this dataset in pandas, mysql and mongodb. Note: While creating a table in mysql don't use manual approach to create it. Always use an automation. ## HINT:- use csvkit library to automate this task and to load a data in bulk in your mysql. 
Q2. Convert all the dates available in dataset to timestamp format in pandas and in sql you have to convert it into dateformat. 
Q3. Find out in this data that how many unique id's we have. 
Q4. Which id is one of the active id that you have in whole dataset. 
Q5. How many of them have not logged there activity. Find out in terms of their ids. 
Q6. Find out who is the laziest person id that we have in dataset. 
Q7. Explore over an internet that how much calories bur n is required for a healthy person and find out  how many healthy person we have in the dataset. 
Q8. How manuy person are not a regular person with respect to activity. Try to find out those . 
Q9. Who is the third most active person in this datset. Find out those in both pandas and in sql. 
Q10. WHo is is the 5th most laziest person available in datset. find it out. 
Q11. What is a total accumulative calories burn for a person. Find out.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import cufflinks as cf
cf.go_offline() #iplot is function of cufflinks.

# Q1. Read this dataset in pandas, mysql and mongodb. Note: While creating a table in mysql don't use manual approach to create it. Always use an automation. ## HINT:- use csvkit library to automate this task and to load a data in bulk in your mysql.

# Reading fitbit.csv data in Pandas

In [2]:
df = pd.read_csv('FitBit_data.csv')
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

# Bulk uploading csv file in SQL.

In [3]:

# !pip install csvkit
# !pip install psycopg2
# !pip install mysql-connector-python
# !pip install mysqlclient
import csvkit as cs

#Note: please run query - "USE fitbit"- in mysql workbench before executing the below code. 

!csvsql --db mysql://root:Abcd123456@localhost:3306/fitbit --insert FitBit_data.csv

# Bulk uploading csv file in MongoDB.

In [4]:
# Step1: Convert csv file into dict.(orient = "records") and store it in a variable. 
data = df.to_dict(orient ="records")
data[:1]

[{'Id': 1503960366,
  'ActivityDate': '3/25/2016',
  'TotalSteps': 11004,
  'TotalDistance': 7.1100001335144,
  'TrackerDistance': 7.1100001335144,
  'LoggedActivitiesDistance': 0.0,
  'VeryActiveDistance': 2.5699999332428,
  'ModeratelyActiveDistance': 0.46000000834465,
  'LightActiveDistance': 4.07000017166138,
  'SedentaryActiveDistance': 0.0,
  'VeryActiveMinutes': 33,
  'FairlyActiveMinutes': 12,
  'LightlyActiveMinutes': 205,
  'SedentaryMinutes': 804,
  'Calories': 1819}]

In [5]:
# Step 2: create a connection between Python and MongoDB. 
import pymongo
client = pymongo.MongoClient("mongodb+srv://anirudhgazelli:7KQ9pwr9BT3MMFam@7heaven.mpm0pax.mongodb.net/?retryWrites=true&w=majority")
db = client.test

db = client['DataSet']
collection = db['Fitbit_Dataset']
collection.insert_many(data)

credits: https://youtu.be/f3q5aM9onnc

# Q2. Convert all the dates available in dataset to timestamp format in pandas and in sql you have to convert it into dateformat.

In [6]:
df = pd.read_csv('FitBit_data.csv', parse_dates = ['ActivityDate'])

In [7]:
df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

# Q3. Find out in this data that how many unique id's we have.

In [8]:
len(list(df['Id'].unique()))

35

# Q4. Which id is one of most the active id that you have in whole dataset.

In [9]:
# Assuming Most Active Id would be the one covering maximum TotalDistance.

In [10]:
df.head(2)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154

In [11]:
df1 = df.groupby('Id')['TotalDistance'].sum().reset_index()
df2 = df1.sort_values(by ='TotalDistance', ascending = False, ignore_index = True)
k = df2["Id"][0]
k1 = df2["TotalDistance"][0]
print('The Most Active Id is',k, "which covered the total distance of ", k1)

The Most Active Id is 8877689391 which covered the total distance of  169.0899984836577

# Q5. How many of them have not logged thier activity. Find out in terms of their ids.

In [12]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [13]:
df[df['LightActiveDistance'] == 0]['Id'].unique()

array([1844505072, 2320127002, 2347167796, 2873212765, 2891001357,
       4020332650, 4057192912, 4319703577, 4388161847, 4702921684,
       6117666160, 6290855005, 6391747486, 6775888955, 8253242879],
      dtype=int64)

# Q6. Find out who is the laziest person id that we have in dataset.

In [14]:
# Scenario 1: Assuming laziest person has covered the least total distance. 
df3 = df.groupby('Id')['TotalDistance'].sum().reset_index()
df4 = df3.sort_values(by="TotalDistance", ascending = True, ignore_index = True)
l = df4['Id'][0]
l1 = df4['TotalDistance'][0]
print("The Laziest person is ",l ,"who covered the TotalDistance of ", l1)

The Laziest person is  4388161847 who covered the TotalDistance of  0.0

In [15]:
# Scenario 2: Assuming laziest person has the highest sedentary minutes. 
df5 = df.groupby('Id')['SedentaryMinutes'].sum().reset_index().sort_values(by="SedentaryMinutes",ascending = False).head()
print("The laziest person is ", df5['Id'][0], "who managed to remain sedentary for ", df5['SedentaryMinutes'][0], "minutes" )

The laziest person is  1503960366 who managed to remain sedentary for  15387 minutes

# Q7. Explore over an internet that how much calories burn is required for a healthy person and find out  how many healthy person we have in the dataset.

An healthy adult is exepcted to burn around 1800 calories. 
#Courtesy: https://www.healthline.com/health/fitness-exercise/how-many-calories-do-i-burn-a-day#daily-calorie-burn-by-intent

In [16]:
# creating a Health Index Column - to categorise healthy day. (1: 1800+ caloreis burnt || 0: less than 1800 calories burnt)
def calorie_check(a): 
    if a>=1800: 
        return 1
    else: 
        return 0 
df['HealthIndex'] = df['Calories'].apply(calorie_check)
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,HealthIndex
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,1
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,1
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,1
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,1
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,1

In [17]:
# Creating a new dataframe "df1" to find out Healthy Individ
df1 = df.groupby("Id")[['Calories','HealthIndex']].sum()

#Creating "Logged_Date": No of days the Id has logged in. 
df1["Logged_Date"] = df.groupby('Id')['ActivityDate'].count()

# Creating "Average_Calories": calories/logged_date
df1["Average_Calories"] = df1['Calories']/df1['Logged_Date']

#New Dataframe (df2) of Healthy Individuals based of Average Calories burnt: 
df2 = df1[df1['Average_Calories']>1800.0].sort_values(by = "Average_Calories", ascending = False)
df2.head()

            Calories  HealthIndex  Logged_Date  Average_Calories
Id
8877689391     41414           11           12       3451.166667
8378563200     40274           12           12       3356.166667
5577150313     36303           10           11       3300.272727
4020332650     98412           31           32       3075.375000
1644430081     29164            9           10       2916.400000

In [18]:
#Total NO of Healthy Individuals : 
df2.count()

Calories            26
HealthIndex         26
Logged_Date         26
Average_Calories    26
dtype: int64

# Q8. How many person are not a regular with respect to activity. Try to find out those .

In [19]:
df1['Logged_Date'].max()
#using df1, We are assuming that id's with logged_date < 12 are note generally regular wrt their activity.

32

In [20]:
# Id's who are not regularly active. 
df1[df1['Logged_Date']<12]

            Calories  HealthIndex  Logged_Date  Average_Calories
Id
1644430081     29164            9           10       2916.400000
2891001357     18187            7            8       2273.375000
3372868164     18603            8           10       1860.300000
4388161847     14442            7            8       1805.250000
5577150313     36303           10           11       3300.272727
6117666160     20993            8           10       2099.300000
6290855005     21656            9           10       2165.600000
6391747486     15868            8            9       1763.111111
6775888955     24523            8            9       2724.777778
8053475328     31825           10           11       2893.181818
8583815059     19130            8            8       2391.250000

# Q9. Who is the third most active person in this datset. Find out those in both pandas and in sql.

In [21]:
# Assuming the most active person has covered the maximum distance. 
df3 = df.groupby("Id")['TotalDistance'].sum().sort_values(ascending = False).reset_index()
df3.head()

           Id  TotalDistance
0  8877689391     169.089998
1  1503960366     144.540001
2  4020332650     132.600000
3  8053475328     127.340000
4  6962181067     121.070000

In [22]:
#Third most active person: 
df3['Id'][2]

4020332650

# Q10. Who is is the 5th most laziest person available in datset ? Find out.

In [23]:
# Assuming laziest person based on 'TotalDistance'. 
df3.tail(6)

            Id  TotalDistance
29  8583815059          19.02
30  1927972279          18.13
31  6290855005          12.23
32  6391747486           9.67
33  2891001357           4.83
34  4388161847           0.00

In [24]:
# Fifth most laziest person is : 
df3["Id"][30]

1927972279

# Q11. What is a total accumulative calories burn for a person ? Find out.

In [25]:
df1.head()

            Calories  HealthIndex  Logged_Date  Average_Calories
Id
1503960366     34128           16           19       1796.210526
1624580081     25705            0           19       1352.894737
1644430081     29164            9           10       2916.400000
1844505072     19391            7           12       1615.916667
1927972279     27048           11           12       2254.000000

In [26]:
df.groupby("Id")['Calories'].sum().sort_values(ascending = False).reset_index().head()

           Id  Calories
0  4020332650     98412
1  4057192912     60913
2  4702921684     42322
3  8877689391     41414
4  8378563200     40274

---------------------X-------------X-----------X---------------THE_END--------------------x---------------x----------------x-----------------